body{
    text-align: center;
    border: thick;
    background-color: bisque;
    margin-top: 150px;
}
.stopWatch{
    font-size: 1.5em;
}
.gameLevel{
    font-size: 1.5em;
    font-weight: bold;
    margin: 50px;
}
.WinningText{
    margin-top: 30px;
    font-size: 2em;
}
table{
    margin: auto;
    border: 2px solid black;
    user-select: none;
}
td:hover{
    background-color: red        
}
.table-container{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 300px;
}